body {
  height: 100px;
  font-family: 'OpenSans-Regular', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
}

.logo {
  display: inline-block;
}

.logo a {
  display: inline-block;
  padding-top: 31px;
  padding-left: 135px;
  font-family: 'Lobster', cursive;
  font-size: 43px;
  text-decoration: none;
}

.menu {
  float: right;
  padding-bottom: 44px;
}

.menu li {
  display: inline-block;
  padding-left: 53px;
  padding-top: 43px;
}

.active {
  background-color: #f8f9fb;
  color: #49cbcd;
}

.menu a {
  text-decoration: none;
  color: #484c55;
  padding-top: 43px;
}

.centre_container {
  margin-top: 45px;
  background-image: url("../img/bg.png");
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.text_clas1 {
  padding-top: 120px;
}

.text_clas1 h4 {
  font-family: 'OpenSans-Semibold', sans-serif;
  color: #ffffff;
  font-size: 63px;
  margin-bottom: 40px;
}

.text_clas1 p {
  padding-left: 700px;
  color: #ffffff;
  font-size: 23px;
  height: 92px;
  width: 367px;
  text-align: center;
}

.centre_botton {
  text-align: center;
}

.centre_botton a {
  color: #fff;
  font-size: 26px;
  border: 2px solid #fff;
  padding: 12px 43px;
  border-radius: 5px;
  text-decoration: none;
}

.section {
  text-align: center;
  height: 800px;
  padding-top: 107px;
  padding-bottom: 100px;
  display: inline-block;
}

.item {
  text-align: center;
}

.box_item {
  display: inline-block;
  text-align: center;
  padding-left: 135px;
}

.box_item h4 {
  font-size: 22px;
  margin-bottom: -10px;
}

.box_item h3 {
  font-size: 14px;
}

.box_item p {
  font-size: 14px;
  width: 304px;
  padding-top: 35px;
}

.text_section h4 {
  font-size: 42px;
  color: #4e525d;
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  text-align: center;
  background-image: url("../img/bg_foot.png");
  height: 688px;
}

.center_footer {
  text-align: center;
}

.center_footer h4 {
  color: #fff;
  font-size: 42px;
  padding-top: 100px;
}

.left_footer {
  padding-left: 135px;
  height: 249px;
  width: 462px;
  text-align: left;
}

.left_footer h4 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 24px;
}

.left_footer h3 {
  color: #909090;
  font-size: 14px;
}

.social img {
  padding-top: 42px;
  margin-right: 15px;
}

.social p {
  padding-left: 7px;
  color: #bface2;
  font-size: 14px;
}

.rihgt_footer {
  text-align: right;
}

.contact_form {
  display: inline-block;
  text-align: left;
  padding-right: 135px;
}

.box_form {
  margin-top: -238px;
  padding-right: 135px;
}

.box_form input {
  color: #c1c1c1;
  font-size: 14px;
  line-height: 44px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 256px;
  padding-left: 22px;
  border: 1px solid #c6c8c9;
  border-radius: 3px;
}

.contact_form_2 input {
  color: #c1c1c1;
  width: 571px;
  height: 178px;
}

.btn {
  text-align: right;
  padding-right: 135px;
}

.btn a {
  color: #fff;
  font-size: 22px;
  background-color: #49cbcd;
  padding: 13px 55px;
  border-radius: 3px;
  text-decoration: none;
}
