@import "vars"

     
body    
	height: 100px
	font-family: 'OpenSans-Regular', sans-serif;
.container
	max-width: 1170px
	margin: 0 auto
.header
	background-color: #fff

.logo 
	display: inline-block
.logo a
	display: inline-block
	padding-top: 31px
	padding-left: 135px
	font-family: 'Lobster', cursive;
	font-size: 43px
	text-decoration: none
.menu
	float: right
	padding-bottom: 44px	
.menu li 
	display: inline-block   
	padding-left: 53px
	padding-top: 43px        

.active
	background-color: #f8f9fb    
	color: #49cbcd	  
.menu a
	text-decoration: none
	color: #484c55	  
	padding-top: 43px  
.carousel_box
	margin-top: 45px
	background-image: url("../img/bg.png")
	min-height: 560px   
	background-repeat: no-repeat
	background-size: cover    
	background-position: top center
	text-align: center
	.item_1 
		.name
			h4
				font-family: 'OpenSans-Semibold', sans-serif;
				color: #ffffff
				font-size: 63px
				margin-bottom: 40px
				padding-top: 100px
	.owl_carousel
		height: 570px 
		position: relative
		.class_1
			color: #ffffff
			font-size: 23px
			height: 92px 
			text-align: center    
			margin-bottom: 40px
			p 
				margin-top: 0px
		.centre_botton
			margin-bottom: 50px
			a
				color: #fff
				font-size: 26px
				border: 2px solid #fff
				padding: 12px 43px
				border-radius: 5px
				text-decoration: none
		.owl-prev, 
		.owl-next
				margin-right: 27px
				margin-left: 27px
				position: absolute  
				background-color: #FFF
				border: 14px solid #fff
				top: 50%
				border-radius: 100%
		.owl-next   
			right: 0			
		.owl-prev 
			left: 0    

.section
	text-align: center
.section_1
	text-align: center
	height: 800px
	display: inline-block
	.text_section
		padding-top: 107px
		padding-bottom: 100px
		h4
			font-size: 42px
			color: #4e525d   
			text-align: center
			
	.item
		text-align: center
		.box_item
			display: inline-block
			text-align: center
		
			h4
				font-size: 22px
				margin-bottom: -10px
			h3
				font-size: 14px
			p
				font-size: 14px
				width: 304px
				padding-top: 35px



.footer
	background-repeat: no-repeat
	background-size: cover
	background-position: top center
	background-image: url("../img/bg_foot.png")
	height: 700px
	padding-top: 1px
.center_footer
	text-align: center
	h4
		color: #fff
		font-size: 42px
		padding-top: 60px
		margin-bottom: 100px
.left_footer
	float: left
	padding-left: 9%
	h4  
		margin-bottom: 15px  
		color: #fff
		font-size: 24px     
	h3
		color: #909090
		font-size: 14px
		p 
			padding-left: 0px
			margin-top: 1px
			display: flex
.social
	img
		padding-top: 42px
		margin-right: 15px
	p
		padding-left: 7px
		color: #bface2
		font-size: 14px

.rihgt_footer
	float: right
	padding-right: 9%
.contact_form
	display: inline-block
	text-align: left
	
.box_form 
	input 
		color: #c1c1c1
		font-size: 14px
		line-height: 44px
		margin-bottom: 30px
		margin-left: 30px
		width: 256px
		padding-left: 22px  
		border: 1px solid #c6c8c9;
		border-radius: 3px
.contact_form_2
	input
		color: #c1c1c1
		width: 571px
		padding-bottom: 176px
.btn 
	text-align: right
	a
		color: #fff
		font-size: 22px
		background-color: #49cbcd
		padding: 13px 55px
		border-radius: 3px
		text-decoration: none
.content 
	text-align: center
	display: inline-block
	width: 100%
	background-color: #f1f1f1
.centre_plans
	height: 740px
	display: inline-block
	.menu_plans
		float: left
		display: inline-block
		text-align: center
		padding-top: 120px
		ul 
			margin-left: 0 
			h4
				background-color: #485460
				color: #fff
				width: 372px
				font-size: 26px
				font-family: 'OpenSans-Semibold', sans-serif;
				padding-top: 26px
				padding-bottom: 30px
				margin-bottom: 0px	
			li 
				list-style-type: none
				background-color: #fff
				margin-top: 2px
				padding-top: 10px
				padding-bottom: 10px	
				a
					background-color: #f8f9fb
					margin-top: 10px
					font-size: 14px
					color: #8c9299	
					text-decoration: none
			
	.menu_plans :last-child   
		a
			color: #fff
			font-size: 17px
			text-decoration: none
			background-color: #788492
			padding: 11px 66px
			border-radius: 5px  
  

    
   






@import "media"